<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Here are some delicious foods!</h1>
  @{
    var Food = new List<string>
    {
      "Hot Dogs",
      "Hamburgers",
      "French Fries",
      "Cucumber Tomato Salad",
      "Cookies",
      "Gyros",
      "Donuts",
    };
        
    foreach(var food in Food)
    {
        <div>
            @if(food.StartsWith("C"))
            {
              <p style="color : red">@food</p>
            }
            else
            {
              <p>@food</p>
            }
      </div>
    }
}
</body>
</html>